*.exe
*.asv
*ignorethis*
*.tmp
*.pyc
*.spec
*.log
*.lprof
*~$.*
*~
*.prof
*.swp
.idea/
borrar/
bu/
codegen/
bufferSolution/
bufferSolution_LINUX/
logs/
.ipynb_checkpoints/
docs/*
!docs/*.tex
!docs/*.cfg
!docs/*.mk4
#!docs/*.html
#!docs/*.png
#!docs/*.css
*/BURCAT_THR.xml
*/BURCAT.THR
*/Thermodyn2XML_vanilla_7_11_05.py
data/*.csv
data/*.bak
utils/icon_batch_32X32.png
!data/th_data_df.csv
