*.exe
*.asv
*ignorethis*
*.tmp
*.pyc
*.spec
*.log
*.lprof
*~$.*
*~
*.prof
.idea/
borrar/
bu/
codegen/
bufferSolution/
bufferSolution_LINUX/
log/
.ipynb_checkpoints/
docs/*
!docs/*.tex
!docs/*.cfg
!docs/*.mk4
#!docs/*.html
#!docs/*.png
#!docs/*.css
